MAIN_COMPANIES_CSV_URL=https://docs.google.com/spreadsheets/d/1Ykx4f8D7nD-vR3Fnf4FqouzGfGde768F0rknirLabpM/export?format=csv&gid=0
MAIN_EQUIPMENT_CSV_URL=https://docs.google.com/spreadsheets/d/1Ykx4f8D7nD-vR3Fnf4FqouzGfGde768F0rknirLabpM/export?format=csv&gid=2144126358
FORM_CSV_URL=
NEXT_PUBLIC_FORM_URL=
